
/* signup */
.wrapperAnimate{
  transition: width .25s linear;
}
.focusField {
  width: 70%;
}
.notFocusField {
  width: 40%;
  opacity: 0.5;
}
.dashedColorPrimaryLinearProgress {
  display: none;
}
/* signup */
